@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my demo project</h1>
    <p> App sucessfully deployed on AWS</p>
    <p> built performed on jenkins</p>
</div>
